@model ModernHome.Models.Ocjena

@{
    ViewData["Title"] = "Details";
    var Idartikla = Model.Idartikal;
    var ocjenaid = Model.Id;
}

<h1>Details</h1>

<div>
    <h4>Ocjena</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ocjena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ocjena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.komentar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.komentar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idkorisnik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idkorisnik)
        </dd>
    </dl>
</div>
<div>

    <a asp-controller="Ocjena" asp-action="OcjeneArtikla" asp-route-id="@Idartikla">Back to list</a>

</div>