@using Microsoft.AspNetCore.Identity
@using ModernHome.Data
@using ModernHome.Controllers
@using ModernHome.Models

@model ModernHome.Models.Ocjena

@{
    ViewData["Title"] = "OcijeniArtikal";
    var artikal = ViewBag.Artikal as ModernHome.Models.Artikal;

}


<body style="background-color:#C4A693">
<a asp-controller="Artikal" asp-action="Details" asp-route-id="@ViewBag.Idartikal" style="color:#fff; text-decoration:none; font-size: 3vh;">← Nazad</a>
<div class="row" style="background-color:#fff; border-radius:12px; padding:2vw;">
        <h1>Ocijeni Artikal</h1>
        <hr />
    <div class="col-md-6">
        <form asp-action="OcijeniArtikal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ocjena" class="control-label">Ocjena</label>
                <select asp-for="ocjena" class="form-control"
                        asp-items="Html.GetEnumSelectList<Ocjene>()">
                    <option value=""> Izaberite ocjenu </option>
                </select>
                <span asp-validation-for="ocjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="komentar" class="control-label">Komentar</label>
                <input asp-for="komentar" class="form-control" />
                <span asp-validation-for="komentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden"asp-for="Idkorisnik" value="@ViewBag.Idkorisnik" class="form-control" readonly />
                <span asp-validation-for="Idkorisnik" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Idartikal" value="@ViewBag.Idartikal" asp-validation-for="Idartikal" />
            <div class="form-group">
                    <input type="submit" value="Potvrdi" class="btn btn-primary" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 3px;" />
            </div>
        </form>
    </div>
        <div class="col-md-6">
            <div style="display:flex; flex-direction: column; align-items: center;">
                <h4>@Html.DisplayFor(model => artikal.naziv)</h4>
                <img src="@artikal.slika" alt="slika" style="width: 100%; max-width: 300px; height: auto; border-radius: 12px; " />
            </div>
        </div>
</div>

<p>
    @ViewBag.Idkorisnika

</p>
</body>


<script>
    document.getElementById("datumInput").value = new Date().toLocaleDateString("en-US");
</script>

