@using Microsoft.AspNetCore.Identity
@model IEnumerable<ModernHome.Models.Ocjena>
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager



@{
    if (SignInManager.IsSignedIn(User))
    {
        var currentUserId = await UserManager.GetUserAsync(User);
        var korisnik = await UserManager.GetUserIdAsync(currentUserId);
        //var username = await UserManager.GetUserNameAsync(currentUserId);

    }
    var isAdmin = User.IsInRole("Administrator");
    async Task<string> GetUserNameAsync(string userId)
    {
        var user = await UserManager.FindByIdAsync(userId);
        return user?.UserName;
    }

    double averageRating = Model.Any() ? Model.Average(o => (int)o.ocjena+1) : 0;

}
@{

    ViewData["Title"] = "OcjeneArtikla";

}
<body style="background-color:#C4A693">
    <a asp-controller="Artikal" asp-action="Details" asp-route-id="@ViewBag.ocjenaid" style="color:#fff; text-decoration:none;">← Nazad</a>
    <div style="background-color:#fff; padding:2vw; border-radius: 10px;">
<h1>Ocjene artikla</h1>
        <h2>Prosječna ocjena: @averageRating.ToString("0.00")</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Ocjena
            </th>
            <th>
                Komentar
            </th>
           
                @if (User.IsInRole("Administrator"))
                    {
                        <th>

                              @Html.DisplayNameFor(model => model.Idkorisnik)
                        </th>
                }
           
            <th>
                Korisničko ime
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ocjena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.komentar)
                </td>
               
                    @if (User.IsInRole("Administrator"))
                    {
                            <td>
                        @Html.DisplayFor(modelItem => item.Idkorisnik)
                            </td>
                    }
               
                <td>
                    @{
                        var username = await GetUserNameAsync(item.Idkorisnik);
                        @username
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
</div>
</body>
