@model ModernHome.Models.Narudzba

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Narudzba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input  asp-for="Idkorisnik" value="@ViewBag.korisnik" asp-validation-for="Idkorisnik" readonly />
                <span asp-validation-for="Idkorisnik" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
               <!-- <input  asp-for="vrijemeNarudzbe" value="@ViewBag.vrijeme" asp-validation-for="vrijemeNarudzbe" readonly />
                 <span asp-validation-for="vrijemeNarudzbe" class="text-danger"></span>
                <input asp-for="vrijemeNarudzbe" value="@DateTime.Now" asp-validation-for="vrijemeNarudzbe"/>
                <span asp-validation-for="vrijemeNarudzbe" class="text-danger"></span>
    </div>-->
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="stanjeIsporuke" /> @Html.DisplayNameFor(model => model.stanjeIsporuke)
                </label>
            </div>
            <div class="form-group">
                <input  asp-for="Idkorpa" value="@ViewBag.Idkorpa" asp-validation-for="Idkorpa"  />
                <span asp-validation-for="Idkorpa" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <input asp-for="cijena" value="@ViewBag.cijena" asp-validation-for="cijena" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@if (ViewData["Poruka"] != null)
{
    <script>
        alert('@ViewData["Poruka"]');
    </script>
}
<p>korisnik: @ViewBag.korisnik</p>
<p>Korpa: @ViewBag.Idkorpa</p>
<p>vrijeme: @ViewBag.vrijeme</p>
<p>Cijena: @ViewBag.cijena</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
