@model ModernHome.Models.Narudzba

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index"><button style="margin-bottom:2vh; border:none;">← Nazad</button></a>

<h1>Detalji narudžbe</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           ID korisnika
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idkorisnik)
        </dd>
        <dt class = "col-sm-2">
              Vrijeme narudžbe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemeNarudzbe)
        </dd>
        <dt class = "col-sm-2">
            Stanje isporuke
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stanjeIsporuke)
        </dd>
        <dt class = "col-sm-2">
           ID korpe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idkorpa)
        </dd>
        <dt class="col-sm-2">
            Cijena
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cijena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 3px;">Izmijeni narudžbu</button></a> 
</div>
