@model IEnumerable<ModernHome.Models.Narudzba>

@{
    ViewData["Title"] = "Index";
}


@if (User.IsInRole("Korisnik"))
{
    <body class="hide-footer">
        <section>
            <div style="width: 100%; text-align: center;">
                <img src="~/images/check.png" style="height: 20vh; width: auto;" alt="Check Icon" />
            </div>
            <h1 style="font-weight:bold; font-size: 7vh;">Narudžba kreirana</h1>
            <p>Vaša narudžba je uspješno kreirana.</p>
            <a asp-controller="Kartica" asp-action="Create"><button type="submit" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 3px;">Pređite na plaćanje</button></a>
        </section>
    </body>
}
@if (User.IsInRole("Administrator") || User.IsInRole("Uposlenik")){

<table class="table">
    <thead>
        <tr>
            <th>
                ID korisnika
            </th>
            <th>
                Vrijeme narudžbe
            </th>
            <th>
                Stanje isporuke
            </th>
            <th>
               ID korpe
            </th>
            <th>
                Cijena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idkorisnik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vrijemeNarudzbe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stanjeIsporuke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idkorpa)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cijena)
                </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" style=" background-color:#222; color: #fff; border:none; font-size:2vh; padding:3px; border-radius: 5px; text-decoration:none;">Izmijeni</a> 
                        <a asp-action="Details" asp-route-id="@item.Id" style=" background-color:#222; color: #fff; border:none; font-size:2vh; padding:3px; border-radius: 5px;text-decoration:none;">Detalji</a> |
                    @if (User.IsInRole("Administrator"))
                    {
                            <a asp-action="Delete" asp-route-id="@item.Id" style=" background-color:#C6324C; color: #fff; border:none; font-size:2vh; padding:3px; border-radius: 5px;text-decoration:none;">Obriši</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
}

<style>
    .hide-footer {
        background-color: #C4A693;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

        .hide-footer footer {
            display: none;
        }

        .hide-footer nav {
            display: none;
        }
           

    section {
        background-color: #ffffff;
        border-radius: 12px;
        height: 50vh;
        width: 84vw;
        box-shadow: 0px 8px 8px 0px rgba(0.2, 0.2, 0.2, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    img {
        height: 30vh;
        width: auto;
    }

    p {
        font-size: 3vh;
    }


</style>