@model ModernHome.Models.Artikal

@{
    ViewData["Title"] = "Details";
    var dimenzije = ViewBag.Dimenzije as ModernHome.Models.Dimenzije;
}

<body style="background-color:#C4A693;">
    <div>
        <a asp-action="Index" style="color:#fff; text-decoration:none; font-size: 3vh;">← Nazad</a>
    </div>

    <div style="background-color:#fff; border-radius:12px; padding:2vw; display: flex; align-items: center;">
        <div style="flex: 1; padding-right: 20px;">
            <div class="row">
                <p class="col-sm-10" style="font-weight:bold; font-size: 10vh; width:100%;">
                    @Html.DisplayFor(model => model.naziv)
                </p>
                @if (User.IsInRole("Administrator") || User.IsInRole("Uposlenik"))
                {
                    <p class="col-sm-10" style="width:100%; font-size:3vh;">
                        Kategorija: @Html.DisplayFor(model => model.tip)
                    </p>
                    <p class="col-sm-10" style="width:100%; font-size:3vh;">
                         @Html.DisplayFor(model => model.boja)
                    </p>
                    <p class="col-sm-2" style="font-size:3vh;width:100%;">
                        Količina na stanju: @Html.DisplayFor(model => model.kolicina)
                    </p>
                }

                <p class="col-sm-2" style="font-size:7vh; color:#C6324C; font-weight:bold; width: 100%">
                    @Html.DisplayFor(model => model.cijena) KM
                </p>



                <p class="col-sm-2" style="width: 100%">
                    Dimenzije:
                    @Html.DisplayFor(model => dimenzije.visina) cm x  @Html.DisplayFor(model => dimenzije.sirina) cm x  @Html.DisplayFor(model => dimenzije.duzina) cm 
                </p>

                <div style="margin-top: 20px; text_decoration:none;">
                    @if (User.IsInRole("Korisnik"))
                    {
                        <a asp-controller="StavkaNarudzbe" asp-action="Create" asp-route-Idartikal="@Model.Id" asp-route-cijena="@Model.cijena">
                            <button type="submit" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 5px;">Dodaj u korpu</button>
                        </a>
                        <a asp-controller="Ocjena" asp-action="OcijeniArtikal" asp-route-id="@Model.Id">
                            <button type="submit" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 5px;">Ocijeni artikal</button>
                        </a>
                    }
                    <a asp-controller="Ocjena" asp-action="OcjeneArtikla" asp-route-id="@Model.Id">
                        <button type="submit" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 5px;">Pregled ocjena</button>
                    </a>
                </div>
            </div>
        </div>
        <div style="flex: 1; text-align: center;">
            <img src="@Url.Content(Model.slika)" alt="cover" style="max-width: 100%; height: auto; border-radius: 12px;" />
        </div>
    </div>
</body>
