@model IEnumerable<ModernHome.Models.Artikal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.Any())
{
<p>
    <a asp-action="Create">Create New</a>
</p>
    @if (ViewData["Poruka"] != null)
    {
        <script>
            alert('@ViewData["Poruka"]');
        </script>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.boja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iddimenzije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slika)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.boja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iddimenzije)
            </td>
            <td>
                    <img src="@Url.Content(item.slika)" alt="cover" width="200" height="150" />
            </td>
            <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Zaposlenik"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"> <button type="submit">Uredi</button></a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id"> <button type="submit">Detalji</button></a> 
                    @if (User.IsInRole("Administrator"))
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id"> <button type="submit">Izbriši</button></a>
                    }
                   
            </td>
        </tr>
}
    </tbody>
</table>
}
else if (!string.IsNullOrEmpty(ViewBag.Query))
{
    <p>No results found for "@ViewBag.Query".</p>
}
else
{
    <p>No items found.</p>
}