@model ModernHome.Models.StavkaNarudzbe

@{
    ViewData["Title"] = "Details";
    var artikal = ViewBag.Artikal as ModernHome.Models.Artikal;
}


<div>
    <h4>StavkaNarudzbe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idartikal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idartikal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kolicina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kolicina)
        </dd>
        <dt class="col-sm-2">
            Naziv Artikla
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => artikal.naziv)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idkorpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idkorpa)
        </dd>
    </dl>
    <img src="@artikal.slika" alt="Artikal Image" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
