@model IEnumerable<ModernHome.Models.StavkaNarudzbe>

@{
    ViewData["Title"] = "Index";

}
<style>
    /* Stil za container koji će držati sve tri komponente */
    #bottomBar {
        display: flex;
        justify-content: space-between; /* Razmak između komponenti */
        align-items: center; /* Centralizovanje vertikalno */
        margin-top: 10px;
    }

    /* Stil za ukupnu cijenu */
    #totalPriceContainer {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    /* Stil za labelu ukupne cijene */
    #totalPriceLabel {
        font-weight: bold;
        margin-right: 10px;
    }

    /* Stil za vrijednost ukupne cijene */
    #totalPriceValue {
        font-size: 1.2em;
    }
    
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idartikal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idkorpa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idartikal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kolicina)
            </td>
                <td class="price">
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idkorpa)
            </td>
            <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Korisnik"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <nobr>|</nobr>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <nobr>|</nobr>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
        


    </tbody>
</table>
<!--<form method="post" asp-controller="Narudzba" asp-action="Create" id="createOrderForm">
    <input type="hidden" name="Idkorpa" id="Idkorpa" value="@ViewBag.KorpaID" />
    <input type="hidden" name="Cijena" id="Cijena" value="" />
    <button type="submit">Kreiraj Narudzbu</button>
</form>-->
<a asp-controller="Narudzba" asp-action="Create" ><button type="submit">Kreiraj narudzbu</button></a>

<div id="bottomBar">
    <a asp-controller="Artikal" asp-action="Index"><button type="button">Nazad na artikle</button></a>
    <div id="totalPriceContainer">
        <label id="totalPriceLabel">Ukupna cijena: </label>
        <span id="totalPriceValue"></span>
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            updateTotalPrice();
      });

        function updateTotalPrice() {
            var total = 0;
            var prices = document.querySelectorAll('.price');
            prices.forEach(function (price) {
                total += parseFloat(price.textContent) || 0;
            });
            var totalPriceSpan = document.getElementById('totalPriceValue');
            totalPriceSpan.textContent = total.toFixed(2);
        }
    </script>
}
