@model IEnumerable<ModernHome.Models.StavkaNarudzbe>

@{
    ViewData["Title"] = "Index";
    var artikli = ViewBag.Artikli as Dictionary<int, string>;
}

<style>
    /* Stil za container koji će držati sve tri komponente */
    #bottomBar {
        display: flex;
        justify-content: space-between; /* Razmak između komponenti */
        align-items: right; /* Centralizovanje vertikalno */
        margin-top: 10px;
    }

    /* Stil za ukupnu cijenu */
    #totalPriceContainer {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    /* Stil za labelu ukupne cijene */
    #totalPriceLabel {
        font-weight: bold;
        margin-right: 10px;
    }

    /* Stil za vrijednost ukupne cijene */
    #totalPriceValue {
        font-size: 1.2em;
    }
    
</style>

<body style="background-color:#C4A693">
    <a asp-controller="Artikal" asp-action="Index" style="color:#fff; text-decoration:none; font-size: 3vh;">← Nazad na artikle</a>

    <div style="border-radius:5px; background-color:#fff; padding:4vw;">
<h1>Vaša korpa</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Artikal
            </th>
            <th>
                Količina
            </th>
            <th>
                Cijena
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                        <td>@artikli[item.Idartikal]</td>
                        <td>
                @Html.DisplayFor(modelItem => item.kolicina)
            </td>
                <td class="price">
                @Html.DisplayFor(modelItem => item.cijena) KM
            </td>
                        <td class="">
                            
                        </td>
            <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Korisnik"))
                    {
                                var cijenaPoKomadu = (item.cijena / item.kolicina).ToString("F0"); 
                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-cijena= "@cijenaPoKomadu" style="color:black;">Pregled</a> <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.Id" style="color:black;">Obriši</a>
                }
            </td>
        </tr>
}
        


    </tbody>
</table>
<!--<form method="post" asp-controller="Narudzba" asp-action="Create" id="createOrderForm">
    <input type="hidden" name="Idkorpa" id="Idkorpa" value="@ViewBag.KorpaID" />
    <input type="hidden" name="Cijena" id="Cijena" value="" />
    <button type="submit">Kreiraj Narudzbu</button>
</form>-->
        <div id="bottomBar">

            <div style="text-align: center; flex: 1;">
                <a asp-controller="Narudzba" asp-action="Create">
                    <button type="submit" style="background-color:#222222; color: #fff; border:none; font-size:3vh; margin-top:2vh; border-radius: 3px;">
                        Kreiraj narudžbu
                    </button>
                </a>
            </div>

            <div id="totalPriceContainer">
                <label id="totalPriceLabel">Ukupna cijena: </label>
                <span id="totalPriceValue"></span>
            </div>
        </div>
</div>
</div>
</body>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            updateTotalPrice();
      });

        function updateTotalPrice() {
            var total = 0;
            var prices = document.querySelectorAll('.price');
            prices.forEach(function (price) {
                total += parseFloat(price.textContent) || 0;
            });
            var totalPriceSpan = document.getElementById('totalPriceValue');
            totalPriceSpan.textContent = total.toFixed(2);
        }
    </script>
}
