@{
    ViewData["Title"] = "SviKorisniciEdit";
    var userId = ViewBag.UserId as string;
    var userName = ViewBag.UserName as string;
    var roles = ViewBag.Roles as List<Microsoft.AspNetCore.Identity.IdentityRole>;
    var userRoles = ViewBag.UserRoles as IList<string>;
}

<h1>Mjenjanje uloge za korisnika : @userName</h1>
<form asp-action="SviKorisniciEdit" method="post">
    <input type="hidden" name="username" value="@userName" />

    <div class="form-group">
        <label class="control-label">Odaberite ulogu:</label>
        @foreach (var role in roles)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="selectedRoles" value="@role.Name" onclick="allowOnlyOneCheckbox(this)" @(userRoles.Contains(role.Name) ? "checked" : "") />
                    @role.Name
                </label>
            </div>
        }
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="SviKorisnici" class="btn btn-primary">Nazad</a>
    </div>
</form>
<script>
    function allowOnlyOneCheckbox(checkbox) {
        var checkboxes = document.getElementsByName("selectedRoles");
        checkboxes.forEach(function (item) {
            if (item !== checkbox && item.checked) {
                item.checked = false;
            }
        });
    }
</script>

